@charset "UTF-8";
/* :root{
    --color : #f00;
}
h1{background-color: var(--color)} */

* {
    margin: 0;
    padding: 0;
}

.move-img {
    height: 100vh;
    /* 내영역안에서 자식을 정중앙에 위치 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 300px;
    height: 450px;
}

.card span {
    position: absolute;
    width: calc(100% / 6);
    height: 100%;
    left: calc(100% / 6 * var(--i));
}

.card span:hover+img {
    opacity: 1;
}

.card img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
}

.card img:nth-of-type(1) {
    opacity: 1;
}

/* 이미지회전 */
.badge {
    position: absolute;
    top: 40%;
    right: 30%;
    width: 100px;
    height: 100px;
}

.badge img {
    width: 100%;
}

/* swiper */
#sec2 {
    position: relative;
    background: #00f;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}

#sec2 h2 {
    position: absolute;
    font-size: 5vw; /* vw -> 기준을 화면의 넓이 */
    padding: 10vh 10vw 0;
}

#sec2 h2 span{
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-size: 5vw;
}

.swiper{}
.swiper .swiper-slide{width: 25%;}
.swiper .swiper-slide.s1{width: 50%; top: 27vh;}
.swiper .swiper-slide.s2{width: 50%; height: 250px;}
.swiper .swiper-slide.s2 iframe{width: 70%; height: 100%;}
.swiper .swiper-slide.s3{width: 50%;}
.swiper .swiper-slide.s1 .hash{
    position: absolute;
    top: 50px; left: 10vw;
    font-size: 30px;
    color: #ffd600;
    transform: rotate(-4deg);
}
.swiper .swiper-slide.s1 .hash img{width: 25px;}
.swiper .swiper-slide.s1 .text{
    font-size: 12px; line-height: 1.5;
    width: 30vw; padding: 15vh 0 0 10vw;
}
.swiper .swiper-slide.s1 a{
    position: relative;
    font-size: 1.4vh;
    display: inline-block;
    text-decoration: none;
    padding: 20px 0;
    color: #fff;
    margin-left: 10vw; margin-top: 10px;
    transition: 0.3s;
}
.swiper .swiper-slide.s1 a:hover{
    color: #ffd600;
}
.swiper .swiper-slide.s1 a::before{
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 100%; height: 3px;
    background: #ffd600;
}

.swiper .swiper-slide.s1 a::after{
    content: "";
    position: absolute;
    left: 0; bottom: 0;
    width: 0%; height: 3px;
    background: #fff;
    transition: 0.3s;
}

.swiper .swiper-slide.s1 a:hover:after{
    width: 100%;
}

.swiper .swiper-slide.s2{}
.swiper .swiper-slide video{width: 65%;}
.swiper .swiper-slide img{width: 65%;}
.swiper .swiper-slide .textbox{
    position: absolute;
    top: 112px; left: -5vw;
    font-size: 0.9vw;
    line-height: 1.5;
    border: 2px solid #111;
    padding: 1vw;
    background: #ffd600;
}

.t33{top: 33vh;}
.t38{top: 38vh;}
.t43{top: 43vh;}
.t48{top: 48vh;}

#sec2 .swiper-scrollbar{
    position: absolute;
    bottom: 5vh; left: 50%;
    transform: translateX(-50%);
    width: 80%; background: rgba(255,255,255,0.4);
    height: 5px;
}
#sec2 .swiper-scrollbar-drag{
    background: rgba(255,255,255,0.8);
}

.swiper .swiper-slide.s3 .y_wrap{
    position: relative;
    width: 550px; height: 350px;
    overflow: hidden;
}
.swiper .swiper-slide.s3 .y_wrap #player2 {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    width: 800px; height: 650px;
}
.swiper .swiper-slide.s3 .y_wrap .youtube_cover{
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    background: url(img/video_cover_pattern.png);
    background-size: 85px;
    pointer-events: none;
}