@charset "UTF-8";

*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* html{scroll-behavior: smooth;} */

#nav{
    position: fixed;
    left: 0; top: 0; right: 0;
    background-color: rgba(255,255,255,0.3);
    z-index: 100;
}
#nav h1{float: left; color: #fff; font-size: 40px;
padding-left: 20px;} 

#nav ul{float: right;padding-top: 10px;}
#nav ul li{float: left;
padding: 5px 5px 5px 15px;
}
#nav ul li a{color: #fff; text-transform: capitalize;}
#nav ul li.active a{color: #000; font-weight: bold;}

#nav .mNav{display: none;position: absolute; width: 45px; height: 15px; top: 10px; right: 10px;padding-top: 10px; margin-right: 20px;}
#nav .mNav .icon-wrap{}
#nav .mNav .icon-wrap .icon{position: relative;}
#nav .mNav .icon-wrap .icon:before,
#nav .mNav .icon-wrap .icon:after,
#nav .mNav .icon-wrap .icon{width: 45px; height: 4px; background: #444;}
#nav .mNav .icon-wrap .icon:before{content: "";position: absolute;top: 10px;left: 0;}
#nav .mNav .icon-wrap .icon:after{content: "";position: absolute;top: -10px;left: 0;}


#contents{}
#contents>div{ height: 100vh; text-align: center;}
#contents>div h2{ padding-top: 10%; font-size: 90px;
    /*   % 의 기준은 부모의 넓이 */ }

#contents>div#section1{
background: linear-gradient(to right, #ef8e38, #108dc7); 
}
#contents>div#section2{
background: linear-gradient(to right, #E29587, #D66D75);
}
#contents>div#section3{
background: linear-gradient(to right, #ff6a00, #ee0979);
}
#contents>div#section4{
background: linear-gradient(to right, #a8e063, #56ab2f); 
}
#contents>div#section5{
background: linear-gradient(to right, #F11712, #0099F7); 
}
#contents>div#section6{
background: linear-gradient(to right, #24FE41, #FDFC47); 
}

/* 미디어쿼리(MediaQuery)
미디어쿼리는 화면크기에 따라 각각의 속성값을 지정하여 여러가지 화면을 구성하는 기술이다. */

/* @media only all and (조건문){실행문} */

/* @media -> 미디어쿼리 시작위치(생략불가)
only -> 구문을 해석하라는 명령어(생략가능)
all -> 해석 대상(생략가능)
    -all : 모든 미디어 유형에서 사용할 css를 정의
    -print : 인쇄장치에서 사용할 css를 정의
    -screen : 컴퓨터 스크린에서 사용할 css를 정의
    -aural : 화면을 읽어 소리로 출력해 주는 장치에서 사용할 css를 정의
    -tv : TV 화면에서 사용할 css를 정의
    -handheld : 휴대용 장치에서 사용할 css를 정의
    -projection : 프로젝트를 위한 css를 정의
and -> 앞과 뒤의 조건을 나타냄(생략가능)
(조건문) -> 조건설정(생략불가)
{실행문} -> 실행할 명령설정(생략불가능) */
@media (max-width:800px){
    #nav .mNav{display: block;}
    #nav ul{display: none; float: none;}
    #nav ul li{float: none; width: 100%;text-align: center;
    background-color: rgb(255, 255, 255,0.3);padding: 10px 0;}
    #nav ul li.active{ background-color: rgb(255, 255, 255,0.5);}
    #nav h1{float: none;text-align: center;}
}