@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* html{scroll-behavior: smooth;} */

#nav {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
}

#nav h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

#nav ul {}

#nav ul li {
    border-left: 5px solid transparent;
}

#nav ul li.active {
    border-left: 5px solid #fff;
    background: rgba(255, 255, 255, 0.6);
}

#nav ul li a {
    color: #fff;
    text-transform: capitalize;
    display: block;
    padding: 15px 20px;
}

#nav ul li.active a {
    color: #000;
    font-weight: bold;
}

#nav .navBtn {
    position: absolute;
    right: -60px;
    top: 0;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff; text-align: center;
    line-height: 50px; font-size: 13px;
    border-radius: 50%;
}


#contents {}

#contents>div {
    height: 100vh;
    text-align: center;
}

#contents>div h2 {
    padding-top: 10%;
    font-size: 90px;
    /*   % 의 기준은 부모의 넓이 */
}

#contents>div#section1 {
    background: linear-gradient(to right, #ef8e38, #108dc7);
}

#contents>div#section2 {
    background: linear-gradient(to right, #E29587, #D66D75);
}

#contents>div#section3 {
    background: linear-gradient(to right, #ff6a00, #ee0979);
}

#contents>div#section4 {
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

#contents>div#section5 {
    background: linear-gradient(to right, #F11712, #0099F7);
}

#contents>div#section6 {
    background: linear-gradient(to right, #24FE41, #FDFC47);
}