@charset "UTF-8";

body {
    background: #000;
    overflow: hidden;
}

.human {
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    top: 4%;
    z-index: 10;
}

.textWrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 60%;
    z-index: 5;
    perspective: 300px;
    transform-style: preserve-3d;
}

.textWrap .text3d {}

.bg {
    position: absolute;
    left: -10%; top: -10%; width: 120%;
}

.pipe {
    position: absolute;
    z-index: 50;
    width: 700px; top: 10%; left: -200px;
}