@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
}

main {
    position: relative;
    background: red;
    height: 100vh;
}

main .contentWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 420px;
    visibility: hidden;
}

main .contentWrap.active{
    visibility: visible;
}

main .contentWrap img {
    width: 200px;
    opacity: 0;
    transition: 0.8s;
}

main .contentWrap img.img0 {
    transform: translate(-300%, 0px);
    transition-delay: 0.1s;
}

main .contentWrap img.img1 {
    transform: translate(0px, -300%);
}

main .contentWrap img.img2 {
    transform: translate(0px, 300%);
    transition-delay: 0.1s;
}

main .contentWrap img.img3 {
    transform: translate(300%, 0px);
}

main .contentWrap img.active {
    opacity: 1;
    transform: translate(0, 0);
}

main .textWrap {
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 200px;
    z-index: 100;
}

main .textWrap h1 {
    color: #fff;
    padding: 20px 0;
}

main .buttonWrap {
    position: absolute;
    left: 50%; bottom: 50px;
    transform: translate(-50%,0);
}

main .buttonWrap button {
    padding: 10px 40px;
    font-size: 20px;
    background: #fff;
}