@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* header */
#header {
    text-align: center;
    padding: 25px 0 20px;
}

#header #logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}

#content {
    width: 460px;
    margin: 0 auto;
}


/* 인풋 */
input:focus, select:focus {
    outline: none;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 19px 0 8px;
}

.optional{
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
}

.box{
    position: relative;
    display: block;
    width: 100%;
    height: 51px;
    border: 1px solid #dadada;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 14px;
}

.int {
    display: block;
    width: 100%;
    height: 29px;
    border: none;
    font-size: 15px;
    background: #fff;
}

.step_url{
    /* @naver.com */
    position: absolute;
    right: 13px; top: 16px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}

#alertTxt{
    position: absolute;
    top: 19px; right: 38px; font-size: 12px;
    display: none; 
}
.pwImg{
    position: absolute;
    width: 18px; height: 20px; top: 50%; right: 16px;
    transform: translateY(-50%);
}

#bir_wrap{display: flex;justify-content: space-between;}
#bir_wrap #bir_yy{width: 147px;}
#bir_wrap #bir_mm{width: 147px;}
#bir_wrap #bir_dd{width: 147px;}

select{
    width: 100%;
    padding: 7px 8px 6px 7px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    height: auto;
    appearance: none;
    background: url(img/sel_arr_2x.gif) no-repeat 100% 50%;
    background-size: 20px 8px;
}

/* ERROR */
.error_next_box{
    display: none;
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}

/* 버튼 */
.btn_area{margin: 30px 0 91px;}
.btn_area #btnJoin{
    /* img,button 속성이 바뀌지 않아도 공간인식 */
    width: 100%;
    border: none;
    background: #08a600;
    font-size: 20px;
    color: #fff;
    padding: 21px 0 17px;
    cursor: pointer;
}