@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.loader {
    position: relative;
    background: #40407a;
    height: 100vh;
}

.loader .loader_blob {
    position: relative;
    width: 30em;
    height: 30em;
    background: url(img.jpg) no-repeat center;
    background-size: cover;
    left: calc(50% - 15em);
    top: calc(50% - 15em);
    animation: go 6s linear infinite alternate;
    /* alternate 애니메이션이 끝나고 반대로 다시 실행 */
    /* overflow: hidden; */

   /* 수평:h, 수직:v, 왼쪽:l, 오른쪽:r, 윗쪽:t, 아래쪽:b */
   /* border-radius: 20px;  //tl tr br bl */
   /* border-radius: 20px 100px;  (tl br) (tr bl)  */
   /* border-radius: 20px / 100px;  (htl htr hbr hbl)/ (vtl vtr vbr vbl) */
   /* border-radius: htl htr hbr hbl / vtl vtr vbr vbl; */
}

.loader .loader_blob img{
    width: 100%;
    height: 100%;
}

.loader .ro{
    position: absolute;
    left: calc(50% - 15em);
    top: calc(50% - 15em);
    width: 30em; height: 30em;
    animation: rotate 6s linear infinite alternate;
}

.loader .ro .loader_blob2{
    width: 100%; height: 100%;
    border: 1px solid #fff;
    animation: go 6s linear infinite alternate;
}

@keyframes go{
    0%{border-radius: 86% 14% 81% 19% / 53% 75% 25% 47% }
    50%{border-radius:36% 64% 19% 81% / 0% 39% 61% 100% }
    100%{border-radius: 15% 85% 37% 63% / 56% 15% 85% 44%  }
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}