@charset "UTF-8";

html,
body {
    margin: 0;
    padding: 0;
    background: #161616;
}

.main {
    height: 100vh;
    position: relative;
}

.main h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main .img {
    position: absolute;
    width: 400px;
    height: 500px;
    transition-timing-function: ease-out;
    background-size: cover;
}

.main .img-1 {
    background: url(img/img-1.jpg) no-repeat;
    background-size: cover;
    transition-duration:0.8s ;
}

.main .img-2 {
    background: url(img/img-2.jpg) no-repeat;
    background-size: cover;
    transition-duration:0.6s ;
}

.main .img-3 {
    background: url(img/img-3.jpg) no-repeat;
    background-size: cover;
    transition-duration:0.4s ;
}

.main .img-4 {
    background: url(img/img-4.jpg) no-repeat;
    background-size: cover;
    transition-duration:0.2s ;
}

.main .img-5 {
    background: url(img/img-5.jpg) no-repeat;
    background-size: cover;
    transition-duration:0.05s ;
}