@keyframes gulum {

    /* n초 동안 동작하는 애니 */
    0% {
        transform: translateX(-10px);
    }

    /* 0초 */
    25% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10px);
    }

    /* n초 */
}

@keyframes down {
    0% {
        transform: translateY(-300px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes down-long{
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }
    50% {
        transform: translateY(30px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes left{
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes tr{
    0%{transform: translate(110px,-100px);opacity: 0;}
    100%{transform: translate(0,0);opacity: 1;}
}

@keyframes down-small{
    0%{transform: translateY(-100px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

@keyframes left-b{
    0%{transform: translateX(500px);opacity: 0;}
    85%{transform: translateX(-180px);opacity: 1;}
    100%{transform: translateX(0);opacity: 1;}
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(359deg);}
}

@keyframes scale{
    0%{transform: scale(0); opacity: 0;}
    10%{transform: scale(1); opacity: 1;}
    100%{transform: scale(1); opacity: 1;}
}